*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    margin: auto;
    width: 1200px;
}

header{
    text-align: center;
}

h1{
    margin: 25px 0 50px 0;
    color: #e53170;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.f-left{
    float: left;
}

.cards{
    margin-top: 50px;
    width: 100%;
}

.box-card{
    max-width: 33.3%;
    width: 100%;
    padding: 15px;
}

.card{
    /* width: 370px; */
    height: 100px;
    background-color: black;
    /* margin: 15px; */
    box-shadow: 1px 1px 18px black;
}

img{
    height: 100px;
}

.description{
    color: white;
    padding: 15px;
    vertical-align: middle;
}

.title{
    font-weight: bolder;
    font-size: large;
}

.profession{
    display: inline-block;
    margin: 5px 0;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #079ded;
}